<a href="https://colab.research.google.com/github/fatihtepe/learn_python/blob/main/19_PythonSessions_05_May_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def brothers(bro1, bro2, bro3):
    print('Here are the names of brothers :')
    print(bro1, bro2, bro3, sep='\n')
family = ['tom', 'sue', 'tim']
brothers(*family)

Here are the names of brothers :
tom
sue
tim

In [ ]:
brothers(family, family, family)

Here are the names of brothers :
['tom', 'sue', 'tim']
['tom', 'sue', 'tim']
['tom', 'sue', 'tim']

In [ ]:
genius = ("Bill", "Rossum", "Guido van", "Gates")

In [ ]:
# For me, Bill Gates and Guido van Rossum are geniuses.

In [ ]:
def merger(par1, par2, par3, par4) :
    print(f"For me, {par1} {par4} and {par3} {par2} are geniuses.")

In [ ]:
merger(*genius)

For me, Bill Gates and Guido van Rossum are geniuses.

In [ ]:
def önceki(**parametre) :
    for x, y in parametre.items() :
        print(x, y)

In [ ]:
önceki(a = "ahmet", b = "mehmet", c = "selamet")

a ahmet
b mehmet
c selamet

In [ ]:
def gene(x='Solomon', y='David'):  # defined by kwargs (default values assigned to x and y)
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")
dict_gene = {"y" : "Marry", 'x' : "Fred"}
gene(**dict_gene)

Fred belongs to Generation X
Marry belongs to Generation Y

In [ ]:
gene()

Solomon belongs to Generation X
David belongs to Generation Y

<img src="https://i.pinimg.com/originals/e6/87/61/e687614048a36165dd49b6fb18a12b5d.png" height = "100" width ="200" alt = "izdivac">

In [ ]:
#[("mary", "rye"), ("bella", "fred"), ("linda", "roland")]

In [ ]:
dict_couple = {"bride" : ["mary", "bella", "linda"],
               "groom" : ["rye", "fred", "roland"]}

In [ ]:
def couples(bride, groom) :
    couple_list = []
    for x in zip(bride, groom) :
        couple_list.append(x)
    return couple_list

In [ ]:
couples(**dict_couple)

[('mary', 'rye'), ('bella', 'fred'), ('linda', 'roland')]

In [ ]:
def couples(bride, groom) :
    return [x for x in zip(bride, groom)]

In [ ]:
couples(**dict_couple)

[('mary', 'rye'), ('bella', 'fred'), ('linda', 'roland')]

In [ ]:
def meaner(ahmed, joseph, linda) :
    average = (ahmed + joseph + linda) / 3
    print("The average of their ages is :", average)

In [ ]:
friends = {"ahmed" : 44, "joseph" : 39, "linda" : 55}

In [ ]:
friends["ahmed"]

44

In [ ]:
meaner(**friends)

The average of their ages is : 46.0

In [ ]:
meaner(44, 39, 55)

The average of their ages is : 46.0

In [ ]:
# "()" --> True

```
Input        Output
--------:    ------:
"()"         True
"()[]{}"     True
"(]"         False
"([)]"       False
"{[]}"       True
""           True
```

In [ ]:
x = "([)]([)]"

In [ ]:
def isValid(s):
    while "()" in s or "{}" in s or "[]" in s:
        s = s.replace("()", "").replace("[]", "").replace("{}", "")
    return s == ""

In [ ]:
isValid(x)

False

In [ ]:
x = "{()[{}]}"

In [ ]:
isValid(x)

True

In [ ]:
(lambda x : "odd" if x%2 else "even")(3)

'odd'

In [ ]:
(lambda x : "odd" if x%2 else "even")(10)

'even'

In [ ]:
print((lambda x : "odd" if x%2 else "even")(10))

even

In [ ]:
average = (lambda a, b : a**2 + b**2)(3, 5)

In [ ]:
print(average)

34

In [ ]:
iterable = "clarusway"
reverser = (lambda x : x[::-1])(iterable)

In [ ]:
print(reverser)

yawsuralc

In [ ]:
iterable[::-1]

'yawsuralc'

In [ ]:
for i in [1,2,3,4,5,6] :
    print(i, ":", (lambda x : "odd" if x%2 != 0 else "even")(i))

1 : odd
2 : even
3 : odd
4 : even
5 : odd
6 : even

In [ ]:
abuzittinefendininsopası = lambda a, b : a**2 + b**2

In [ ]:
abuzittinefendininsopası(3,5)

34

In [ ]:
iterable = [1,2,3,4,5]

In [ ]:
result = map(lambda x : x **2, iterable)

In [ ]:
print(result)

<map object at 0x7fab79b47ee0>

In [ ]:
print(*result)

1 4 9 16 25

In [ ]:
for i in result :
    print(i)

In [ ]:
def karesinial(x) :
    return x ** 2

In [ ]:
result = map(karesinial, iterable)

In [ ]:
print(*result)

1 4 9 16 25

In [ ]:
iterable_2 = ["ahmet", "mehmet ve kuzeni", "cemilin bacısı"]

In [ ]:
result_2 = map(len, iterable_2)

In [ ]:
print(*result_2)

5 16 14

In [ ]:
letter1 = ["a", "b", "c"]
letter2 = ["x", "y", "z"]

In [ ]:
yapıştır = map(zip, letter1,letter2)

In [ ]:
for i in yapıştır:
    for j in i:
        print(j)

('a', 'x')
('b', 'y')
('c', 'z')