<a href="https://colab.research.google.com/github/fatihtepe/learn_python/blob/main/24_PythonSessions_26_May_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://docs.google.com/uc?id=14xeXxFrVRjvOoUYWn_GuyE-v84wVzrqr" class="img-fluid" alt="CLRWY" width="400" height="200">

<h1><p style="text-align: center; color:darkblue">Python In-Class, <br>26 May 2021</p><h1>

### Assignment - 10 Sudoku Formatter

````
sudoku = [
    [0, 0, 0, 0, 6, 4, 0, 0, 0],
    [7, 0, 0, 0, 0, 0, 3, 9, 0],
    [8, 0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 5, 0, 2, 0, 6, 0],
    [0, 8, 0, 4, 0, 0, 0, 0, 0],
    [3, 5, 0, 6, 0, 0, 0, 7, 0],
    [0, 0, 2, 0, 0, 0, 1, 0, 3],
    [0, 0, 1, 0, 5, 9, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 7, 0, 0]
]

- - - - - - - - - - - - - - - 
0  0  0  | 0  6  4  | 0  0  0  
7  0  0  | 0  0  0  | 3  9  0  
8  0  0  | 0  0  0  | 0  0  0  
- - - - - - - - - - - - - - - 
0  0  0  | 5  0  2  | 0  6  0  
0  8  0  | 4  0  0  | 0  0  0  
3  5  0  | 6  0  0  | 0  7  0  
- - - - - - - - - - - - - - - 
0  0  2  | 0  0  0  | 1  0  3  
0  0  1  | 0  5  9  | 0  0  0  
0  0  0  | 0  0  0  | 7  0  0  
- - - - - - - - - - - - - - - 
```

In [ ]:
sudoku = [
    [0, 0, 0, 0, 6, 4, 0, 0, 0],
    [7, 0, 0, 0, 0, 0, 3, 9, 0],
    [8, 0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 5, 0, 2, 0, 6, 0],
    [0, 8, 0, 4, 0, 0, 0, 0, 0],
    [3, 5, 0, 6, 0, 0, 0, 7, 0],
    [0, 0, 2, 0, 0, 0, 1, 0, 3],
    [0, 0, 1, 0, 5, 9, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 7, 0, 0]
]

In [ ]:
type(sudoku)

list

In [ ]:
len(sudoku)

9

In [ ]:
count = 0

print("- - - - - - - - - - - - - - - ")
for i in sudoku:
    for j in range(len(i)) :
        print(i[j], " ", end = "")
        if (j + 1) == 9 :
            print()
            count += 1
            if count % 3 == 0 and count != 0 :
                print("- - - - - - - - - - - - - - - ")
        if (j + 1) % 3 == 0 and j != 0 and j != 8:
            print("| ", end = "")

- - - - - - - - - - - - - - -
0  0  0  | 0  6  4  | 0  0  0
7  0  0  | 0  0  0  | 3  9  0
8  0  0  | 0  0  0  | 0  0  0
- - - - - - - - - - - - - - -
0  0  0  | 5  0  2  | 0  6  0
0  8  0  | 4  0  0  | 0  0  0
3  5  0  | 6  0  0  | 0  7  0
- - - - - - - - - - - - - - -
0  0  2  | 0  0  0  | 1  0  3
0  0  1  | 0  5  9  | 0  0  0
0  0  0  | 0  0  0  | 7  0  0
- - - - - - - - - - - - - - -

In [ ]:
x = [([1], [2,3], (4,5,6))]

In [ ]:
len(x)

1

In [ ]:
# [1,2,3,4,5,6]

In [ ]:
a = []

for i in x :
    for j in i :
        for z in j :
            a.append(z)
a

[1, 2, 3, 4, 5, 6]

In [ ]:
# {1,2,3,4,5,6}

In [ ]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [ ]:
{z for i in x for j in i for z in j}

{1, 2, 3, 4, 5, 6}

In [ ]:
xList = "elma armut muz".split()
xList

['elma', 'armut', 'muz']

In [ ]:
yList = "selvi vahit ay≈üe".split()
yList

['selvi', 'vahit', 'ay≈üe']

In [ ]:
result = []

for i in xList :
    for j in yList:
        result.append(i + j)
result

['elmaselvi',
 'elmavahit',
 'elmaay≈üe',
 'armutselvi',
 'armutvahit',
 'armutay≈üe',
 'muzselvi',
 'muzvahit',
 'muzay≈üe']

In [ ]:
[i + j for i in xList for j in yList]

['elmaselvi',
 'elmavahit',
 'elmaay≈üe',
 'armutselvi',
 'armutvahit',
 'armutay≈üe',
 'muzselvi',
 'muzvahit',
 'muzay≈üe']

In [ ]:
[[i + j] for i in xList for j in yList]

[['elmaselvi'],
 ['elmavahit'],
 ['elmaay≈üe'],
 ['armutselvi'],
 ['armutvahit'],
 ['armutay≈üe'],
 ['muzselvi'],
 ['muzvahit'],
 ['muzay≈üe']]

In [ ]:
result = []
sayƒ±lar = ["bir", "iki", "√º√ß"]
for i in range(5):
    if i%2==0:
        for j in sayƒ±lar :
            result.append(str(i) + " --> " + j)
result

['0 --> bir',
 '0 --> iki',
 '0 --> √º√ß',
 '2 --> bir',
 '2 --> iki',
 '2 --> √º√ß',
 '4 --> bir',
 '4 --> iki',
 '4 --> √º√ß']

In [ ]:
[str(i) + " --> " + j for i in range(5) for j in sayƒ±lar if i % 2 == 0]

['0 --> bir',
 '0 --> iki',
 '0 --> √º√ß',
 '2 --> bir',
 '2 --> iki',
 '2 --> √º√ß',
 '4 --> bir',
 '4 --> iki',
 '4 --> √º√ß']

### Girilen √º√ß sayƒ±dan ka√ß tanesi tekrarlƒ±yor. Bunu g√∂steren bir fonksiyon yazalƒ±m

In [ ]:
equal(4,4,4)  # ==> 3
equal(3,4,4)  # ==> 2
equal(1,2,3)  # ==> 0

In [ ]:
num = [5,1,1]

In [ ]:
max(num)

5

In [ ]:
num.count(max(num, key = num.count))

2

In [ ]:
num.count(1)

2

In [ ]:
num.count(5)

1

In [ ]:
num.count(1)

2

In [ ]:
def equal(a, b, c) :
    numbers = [a, b, c]
    result = numbers.count(max(numbers, key = numbers.count))
    if result > 1 :
        return result
    else :
        return 0

In [ ]:
equal(1,1,5)

2

In [ ]:
equal(5,5,5)

3

In [ ]:
equal(1,2,3)

0

In [ ]:
def equal(*a) :
    numbers = list(a)
    result = numbers.count(max(numbers, key = numbers.count))
    if result > 1 :
        return result
    else :
        return 0

In [ ]:
equal(1,2,3,4,5,5,5,6,7,7)

3

In [ ]:
# def equal(*a) :
#     numbers = list(a)
#     result = numbers.count(max(numbers, key = numbers.count))
#     return result

In [ ]:
# equal(1,2,3,4,5)

1

In [ ]:
"\r\n"
"\n"
"\r"

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
bayanlar = titanic[titanic["Sex"] == "female"]

In [ ]:
bayanlar.to_csv("titanic_bayanlar.csv")

In [ ]:
vefat = titanic[titanic["Survived"] == 0]

In [ ]:
vefat.to_csv("titanic_vefat.csv")

In [ ]:
titanic.groupby("Sex")["Survived"].mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [ ]:
titanic.groupby("Pclass")["Survived"].mean()

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [ ]:
vefat = pd.read_csv("titanic_vefat.csv", index_col=0)

In [ ]:
vefat

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### show me my way, please! <img src="https://www.robotsepeti.com/nao-insansi-robot-platformu-v6-egitmen-educator-versiyonu-insansi-robot-softbank-robotics-9282-48-B.png" height = "100" width="300" alt="Robot">

In [ ]:
L = ["right 20", "right 30", "left 50", "up 10", "down 20"]

In [ ]:
x = y = 0

In [ ]:
for i in range(len(L)) :
    if L[i].startswith("r") : x = x + int(L[i].split()[1])
    elif L[i].startswith("l") : x = x - int(L[i].split()[1])
    elif L[i].startswith("u") : y = y + int(L[i].split()[1])
    elif L[i].startswith("d") : y = y - int(L[i].split()[1])
[x, y]

[0, -10]

In [ ]:
"right 20".split()[1]

'20'

In [ ]:
print("ahttps://www.google.com".startswith(("http://", "https://", "ahttp")))

True

In [ ]:
print("http://www.google.co.uk".endswith((".com", "co.uk")))

True

In [ ]:
ops = {"+" : (lambda x, y : x+y), "-" : (lambda x, y : x-y), "/" : (lambda x, y : x/y)}

In [ ]:
ops

{'+': <function __main__.<lambda>(x, y)>,
 '-': <function __main__.<lambda>(x, y)>,
 '/': <function __main__.<lambda>(x, y)>}

In [ ]:
ops["+"](3, 5)

8

In [ ]:
ops["-"](11, 5)

6

In [ ]:
normal = {"bir" : 11, "iki" : 22}

In [ ]:
normal["bir"]

11

In [ ]:
type(normal["bir"])

int