<a href="https://colab.research.google.com/github/fatihtepe/python_ground/blob/main/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
first_dict= {'google': 'search', 
             'facebook': 'social', 
             'youtube': 'podioum'
             }
print(type(first_dict))

<class 'dict'>

In [ ]:
state_capitals = {'Ontario': 'Toronto',
                   'Alberta': 'Edmonton',
                   'British Columbia': 'Victoria',
                   'Saskatchewan': 'Regina',
                   'Newfoundland and Labrador': 'St.John\'s',
                   'New Brunswick': 'Frederiction',
                   'Prince Edward Island': 'Chharlottetown',
                   'Quebec': 'Quebec',
                   'Manitoba': 'Winnipeg',
                   'Nunavut': 'Iqaluit',
                   'Northwest Territories': 'Yellowknife',
                   'Yukon': 'Whitehorse',
                   }
print(state_capitals['Alberta'], '\n') 
state_capitals['Nova Scotia'] = 'Halifax' # adding a new item
print(state_capitals)
print(state_capitals['Ontario'])
print(state_capitals['Nova Scotia'])

Edmonton

{'Ontario': 'Toronto', 'Alberta': 'Edmonton', 'British Columbia': 'Victoria', 'Saskatchewan': 'Regina', 'Newfoundland and Labrador': "St.John's", 'New Brunswick': 'Frederiction', 'Prince Edward Island': 'Chharlottetown', 'Quebec': 'Quebec', 'Manitoba': 'Winnipeg', 'Nunavut': 'Iqaluit', 'Northwest Territories': 'Yellowknife', 'Yukon': 'Whitehorse', 'Nova Scotia': 'Halifax'}
Toronto
Halifax

In [ ]:
import pprint
pprint.pprint(state_capitals, width=1)

{'Alberta': 'Edmonton',
 'British Columbia': 'Victoria',
 'Manitoba': 'Winnipeg',
 'New Brunswick': 'Frederiction',
 'Newfoundland and Labrador': "St.John's",
 'Northwest Territories': 'Yellowknife',
 'Nova Scotia': 'Halifax',
 'Nunavut': 'Iqaluit',
 'Ontario': 'Toronto',
 'Prince Edward Island': 'Chharlottetown',
 'Quebec': 'Quebec',
 'Saskatchewan': 'Regina',
 'Yukon': 'Whitehorse'}

In [ ]:
print(state_capitals.items(), '\n')
print(state_capitals.keys(), '\n')
print(state_capitals.values(), '\n')
print('Nunavut' in state_capitals, '\n')
print('Michigan' not in state_capitals, '\n')
print('Ontario' not in state_capitals)

dict_items([('Ontario', 'Toronto'), ('Alberta', 'Edmonton'), ('British Columbia', 'Victoria'), ('Saskatchewan', 'Regina'), ('Newfoundland and Labrador', "St.John's"), ('New Brunswick', 'Frederiction'), ('Prince Edward Island', 'Chharlottetown'), ('Quebec', 'Quebec'), ('Manitoba', 'Winnipeg'), ('Nunavut', 'Iqaluit'), ('Northwest Territories', 'Yellowknife'), ('Yukon', 'Whitehorse'), ('Nova Scotia', 'Halifax')])

dict_keys(['Ontario', 'Alberta', 'British Columbia', 'Saskatchewan', 'Newfoundland and Labrador', 'New Brunswick', 'Prince Edward Island', 'Quebec', 'Manitoba', 'Nunavut', 'Northwest Territories', 'Yukon', 'Nova Scotia'])

dict_values(['Toronto', 'Edmonton', 'Victoria', 'Regina', "St.John's", 'Frederiction', 'Chharlottetown', 'Quebec', 'Winnipeg', 'Iqaluit', 'Yellowknife', 'Whitehorse', 'Halifax'])

True

True

False

In [ ]:
for x in state_capitals:
    print(repr(x),":",state_capitals[x])

'Ontario' : Toronto
'Alberta' : Edmonton
'British Columbia' : Victoria
'Saskatchewan' : Regina
'Newfoundland and Labrador' : St.John's
'New Brunswick' : Frederiction
'Prince Edward Island' : Chharlottetown
'Quebec' : Quebec
'Manitoba' : Winnipeg
'Nunavut' : Iqaluit
'Northwest Territories' : Yellowknife
'Yukon' : Whitehorse
'Nova Scotia' : Halifax

In [ ]:
my_dict = {'fruit':'banana', 'vegatable':'onion'}
my_dict['drink'] = 'water'
my_dict['junkfood'] = 'snickers'

print(my_dict)
import pprint
pprint.pprint(my_dict, width=1)

{'fruit': 'banana', 'vegatable': 'onion', 'drink': 'water', 'junkfood': 'snickers'}
{'drink': 'water',
 'fruit': 'banana',
 'junkfood': 'snickers',
 'vegatable': 'onion'}

In [ ]:
print(my_dict.items(), '\n')
print(my_dict.keys(), '\n')
print(my_dict.values())

dict_items([('fruit', 'banana'), ('vegatable', 'onion'), ('drink', 'water'), ('junkfood', 'snickers')])

dict_keys(['fruit', 'vegatable', 'drink', 'junkfood'])

dict_values(['banana', 'onion', 'water', 'snickers'])

In [ ]:
my_dict['furniture'] = 'sofa'
my_dict.update({'pi': 3.14})
print(my_dict.items(), '\n')
pprint.pprint(my_dict, width=1)

dict_items([('fruit', 'banana'), ('vegatable', 'onion'), ('drink', 'water'), ('junkfood', 'snickers'), ('furniture', 'sofa'), ('pi', 3.14)])

{'drink': 'water',
 'fruit': 'banana',
 'furniture': 'sofa',
 'junkfood': 'snickers',
 'pi': 3.14,
 'vegatable': 'onion'}

In [ ]:
for x in my_dict:
    print(repr(x),":",my_dict[x], '\n')
pprint.pprint(my_dict)

'fruit' : banana

'vegatable' : onion

'drink' : water

'junkfood' : snickers

'furniture' : sofa

'pi' : 3.14

{'drink': 'water',
 'fruit': 'banana',
 'furniture': 'sofa',
 'junkfood': 'snickers',
 'pi': 3.14,
 'vegatable': 'onion'}

In [ ]:
print('fruit' in my_dict)
print('junkfood' not in my_dict)

True
False

In [ ]:
pprint.pprint(my_dict)

{'drink': 'water',
 'fruit': 'banana',
 'furniture': 'sofa',
 'junkfood': 'snickers',
 'pi': 3.14,
 'vegatable': 'onion'}

In [ ]:
my_dict['drink'] = 'coke'
print(my_dict.items())

dict_items([('vegatable', 'onion'), ('drink', 'coke'), ('junkfood', 'snickers'), ('furniture', 'sofa'), ('pi', 3.14)])

In [ ]:
del my_dict['pi']
pprint.pprint(my_dict)

{'drink': 'coke',
 'furniture': 'sofa',
 'junkfood': 'snickers',
 'vegatable': 'onion'}

In [ ]:
print('pi' in my_dict, '\n')
print('pi' not in my_dict)

False

True

In [ ]:
print(my_dict['drink'])

coke

In [ ]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

print(school_records['personal_info']['teen']['marry']['age'])
pprint.pprint(school_records['personal_info']['teen'])

16
{'joseph': {'age': 19, 'class': 'college'},
 'marry': {'age': 16, 'class': 'high school'}}

In [ ]:
abc_sports_teams = {
  'Futsal':
    {'Futsal_Women': {'Emma': {'class': 'college', 'age': 19},
                      'Olivia': {'class': 'high school', 'age': 16},
                      'Isabella': {'class': 'college', 'age': 20},
                      'Mia': {'class': 'high school', 'age': 17},
                      'Sophia': {'class': 'college', 'age': 18},
                      },
     'Futsal_Men': {'Robert': {'class': 'college', 'age': 20},
                    'Martin': {'class': 'high school', 'age': 16},
                    'James': {'class': 'college', 'age': 19},
                    'Liam': {'class': 'high school', 'age': 15},
                    'Lucas': {'class': 'college', 'age': 18},
                    },
     },
  'Basketball':
    {'Basketball_Women': {'Ava': {'class': 'college', 'age': 19},
                          'Evelyn': {'class': 'high school', 'age': 16},
                          'Hazel': {'class': 'college', 'age': 20},
                          'Olivia': {'class': 'high school', 'age': 17},
                          'Bella': {'class': 'college', 'age': 18},
                          },
     'Basketball_Men': {'Logan': {'class': 'college', 'age': 20},
                        'Jack': {'class': 'high school', 'age': 16},
                        'Joseph': {'class': 'college', 'age': 19},
                        'Matthew': {'class': 'high school', 'age': 15},
                        'David': {'class': 'college', 'age': 18},
                        },
     },
     }          
pprint.pprint(abc_sports_teams)

{'Basketball': {'Basketball_Men': {'David': {'age': 18, 'class': 'college'},
                                   'Jack': {'age': 16, 'class': 'high school'},
                                   'Joseph': {'age': 19, 'class': 'college'},
                                   'Logan': {'age': 20, 'class': 'college'},
                                   'Matthew': {'age': 15,
                                               'class': 'high school'}},
                'Basketball_Women': {'Ava': {'age': 19, 'class': 'college'},
                                     'Bella': {'age': 18, 'class': 'college'},
                                     'Evelyn': {'age': 16,
                                                'class': 'high school'},
                                     'Hazel': {'age': 20, 'class': 'college'},
                                     'Olivia': {'age': 17,
                                                'class': 'high school'}}},
 'Futsal': {'Futsal_Men': {'James': {'age': 19, 'class': 'college'},
                           'Liam': {'age': 15, 'class': 'high school'},
                           'Lucas': {'age': 18, 'class': 'college'},
                           'Martin': {'age': 16, 'class': 'high school'},
                           'Robert': {'age': 20, 'class': 'college'}},
            'Futsal_Women': {'Emma': {'age': 19, 'class': 'college'},
                             'Isabella': {'age': 20, 'class': 'college'},
                             'Mia': {'age': 17, 'class': 'high school'},
                             'Olivia': {'age': 16, 'class': 'high school'},
                             'Sophia': {'age': 18, 'class': 'college'}}}}

In [ ]:
import json

person = '{"name": "Fatih", "languages": ["English", "Turkish"]}'
person_dict = json.loads(person)
print(person_dict)
print(person_dict['languages'])
print(person_dict['name'])

{'name': 'Fatih', 'languages': ['English', 'Turkish']}
['English', 'Turkish']
Fatih

In [ ]:

import json

abc_sports_teams_json = json.dumps(abc_sports_teams)
print(abc_sports_teams_json)

{"Futsal": {"Futsal_Women": {"Emma": {"class": "college", "age": 19}, "Olivia": {"class": "high school", "age": 16}, "Isabella": {"class": "college", "age": 20}, "Mia": {"class": "high school", "age": 17}, "Sophia": {"class": "college", "age": 18}}, "Futsal_Men": {"Robert": {"class": "college", "age": 20}, "Martin": {"class": "high school", "age": 16}, "James": {"class": "college", "age": 19}, "Liam": {"class": "high school", "age": 15}, "Lucas": {"class": "college", "age": 18}}}, "Basketball": {"Basketball_Women": {"Ava": {"class": "college", "age": 19}, "Evelyn": {"class": "high school", "age": 16}, "Hazel": {"class": "college", "age": 20}, "Olivia": {"class": "high school", "age": 17}, "Bella": {"class": "college", "age": 18}}, "Basketball_Men": {"Logan": {"class": "college", "age": 20}, "Jack": {"class": "high school", "age": 16}, "Joseph": {"class": "college", "age": 19}, "Matthew": {"class": "high school", "age": 15}, "David": {"class": "college", "age": 18}}}}

In [ ]:
abc_dict = json.loads(abc_sports_teams_json)
print(abc_dict.items())
print(abc_dict.keys()) 
print(abc_dict.values())

dict_items([('Futsal', {'Futsal_Women': {'Emma': {'class': 'college', 'age': 19}, 'Olivia': {'class': 'high school', 'age': 16}, 'Isabella': {'class': 'college', 'age': 20}, 'Mia': {'class': 'high school', 'age': 17}, 'Sophia': {'class': 'college', 'age': 18}}, 'Futsal_Men': {'Robert': {'class': 'college', 'age': 20}, 'Martin': {'class': 'high school', 'age': 16}, 'James': {'class': 'college', 'age': 19}, 'Liam': {'class': 'high school', 'age': 15}, 'Lucas': {'class': 'college', 'age': 18}}}), ('Basketball', {'Basketball_Women': {'Ava': {'class': 'college', 'age': 19}, 'Evelyn': {'class': 'high school', 'age': 16}, 'Hazel': {'class': 'college', 'age': 20}, 'Olivia': {'class': 'high school', 'age': 17}, 'Bella': {'class': 'college', 'age': 18}}, 'Basketball_Men': {'Logan': {'class': 'college', 'age': 20}, 'Jack': {'class': 'high school', 'age': 16}, 'Joseph': {'class': 'college', 'age': 19}, 'Matthew': {'class': 'high school', 'age': 15}, 'David': {'class': 'college', 'age': 18}}})])
dict_keys(['Futsal', 'Basketball'])
dict_values([{'Futsal_Women': {'Emma': {'class': 'college', 'age': 19}, 'Olivia': {'class': 'high school', 'age': 16}, 'Isabella': {'class': 'college', 'age': 20}, 'Mia': {'class': 'high school', 'age': 17}, 'Sophia': {'class': 'college', 'age': 18}}, 'Futsal_Men': {'Robert': {'class': 'college', 'age': 20}, 'Martin': {'class': 'high school', 'age': 16}, 'James': {'class': 'college', 'age': 19}, 'Liam': {'class': 'high school', 'age': 15}, 'Lucas': {'class': 'college', 'age': 18}}}, {'Basketball_Women': {'Ava': {'class': 'college', 'age': 19}, 'Evelyn': {'class': 'high school', 'age': 16}, 'Hazel': {'class': 'college', 'age': 20}, 'Olivia': {'class': 'high school', 'age': 17}, 'Bella': {'class': 'college', 'age': 18}}, 'Basketball_Men': {'Logan': {'class': 'college', 'age': 20}, 'Jack': {'class': 'high school', 'age': 16}, 'Joseph': {'class': 'college', 'age': 19}, 'Matthew': {'class': 'high school', 'age': 15}, 'David': {'class': 'college', 'age': 18}}}])

In [ ]:
customers = { 
'bank': 
{1: {'name': 'James', 'age': '27', 'sex': 'Male'}, 
 2: {'name': 'Nicole', 'age': '25', 'sex': 'Female'},  
 3: {'name': 'Andy', 'age': '38', 'sex': 'Male'}, 
 4: {'name': 'Alex', 'age': '19', 'sex': 'Male'}, 
 5: {'name': 'Linda', 'age': '33', 'sex': 'Female'}, 
},
'insurance':
{1: {'name': 'Jashua', 'age': '33', 'sex': 'Male'}, 
 2: {'name': 'Marry', 'age': '66', 'sex': 'Female'},  
 3: {'name': 'Adam', 'age': '56', 'sex': 'Male'}, 
 4: {'name': 'Samuel', 'age': '54', 'sex': 'Male'}, 
 5: {'name': 'Lisa', 'age': '22', 'sex': 'Female'},
},
}

print(customers['insurance'][5]['age'])

22

In [ ]:
abc_futsal = {
    'futsal_women': 
    {1: {'name': 'Emma', 'age': 15, 'education': 'highschool'},
     2: {'name': 'Olivia', 'age': 18, 'education': 'college'},
     3: {'name': 'Olivia', 'age': 18, 'education': 'college'},
     4: {'name': 'Olivia', 'age': 18, 'education': 'college'},
     5: {'name': 'Olivia', 'age': 18, 'education': 'college'},
     }, 
     'futsal_men': 
    {1: {'name': 'Emma', 'age': 15, 'education': 'highschool'},
     2: {'name': 'Olivia', 'age': 18, 'education': 'college'},
     3: {'name': 'Olivia', 'age': 18, 'education': 'college'},
     4: {'name': 'Olivia', 'age': 18, 'education': 'college'},
     5: {'name': 'Olivia', 'age': 18, 'education': 'college'},
     },
     } 


print(abc_futsal) 
print(abc_futsal.keys())

{'futsal_women': {1: {'name': 'Emma', 'age': 15, 'education': 'highschool'}, 2: {'name': 'Olivia', 'age': 18, 'education': 'college'}, 3: {'name': 'Olivia', 'age': 18, 'education': 'college'}, 4: {'name': 'Olivia', 'age': 18, 'education': 'college'}, 5: {'name': 'Olivia', 'age': 18, 'education': 'college'}}, 'futsal_men': {1: {'name': 'Emma', 'age': 15, 'education': 'highschool'}, 2: {'name': 'Olivia', 'age': 18, 'education': 'college'}, 3: {'name': 'Olivia', 'age': 18, 'education': 'college'}, 4: {'name': 'Olivia', 'age': 18, 'education': 'college'}, 5: {'name': 'Olivia', 'age': 18, 'education': 'college'}}}
dict_keys(['futsal_women', 'futsal_men'])

In [ ]:
abc_uni = {'futsal': {
    'futsal_women': 
    {1: {'name': 'Emma', 'age': 15, 'education': 'highschool'},
     2: {'name': 'Olivia', 'age': 18, 'education': 'college'},
     3: {'name': 'Olivia', 'age': 18, 'education': 'college'},
     4: {'name': 'Olivia', 'age': 18, 'education': 'college'},
     5: {'name': 'Olivia', 'age': 18, 'education': 'college'},
     }, 
     'futsal_men': 
    {1: {'name': 'Emma', 'age': 15, 'education': 'highschool'},
     2: {'name': 'Olivia', 'age': 18, 'education': 'college'},
     3: {'name': 'Olivia', 'age': 18, 'education': 'college'},
     4: {'name': 'Olivia', 'age': 18, 'education': 'college'},
     5: {'name': 'Olivia', 'age': 18, 'education': 'college'},
     },
     },
} 

print(abc_uni) 
print(abc_uni.keys())

{'futsal': {'futsal_women': {1: {'name': 'Emma', 'age': 15, 'education': 'highschool'}, 2: {'name': 'Olivia', 'age': 18, 'education': 'college'}, 3: {'name': 'Olivia', 'age': 18, 'education': 'college'}, 4: {'name': 'Olivia', 'age': 18, 'education': 'college'}, 5: {'name': 'Olivia', 'age': 18, 'education': 'college'}}, 'futsal_men': {1: {'name': 'Emma', 'age': 15, 'education': 'highschool'}, 2: {'name': 'Olivia', 'age': 18, 'education': 'college'}, 3: {'name': 'Olivia', 'age': 18, 'education': 'college'}, 4: {'name': 'Olivia', 'age': 18, 'education': 'college'}, 5: {'name': 'Olivia', 'age': 18, 'education': 'college'}}}}
dict_keys(['futsal'])

In [ ]:
abc_uni = {'futsal': {
    'futsal_women': 
    {1: {'name': 'Emma', 'age': 15, 'education': 'highschool'},
     2: {'name': 'Olivia', 'age': 18, 'education': 'college'},
     3: {'name': 'Isabella', 'age': 20, 'education': 'college'},
     4: {'name': 'Mia', 'age': 18, 'education': 'college'},
     5: {'name': 'Sophia', 'age': 19, 'education': 'college'},
     }, 
     'futsal_men': 
    {1: {'name': 'Robert', 'age': 15, 'education': 'highschool'},
     2: {'name': 'Martin', 'age': 18, 'education': 'college'},
     3: {'name': 'James', 'age': 22, 'education': 'college'},
     4: {'name': 'Liam', 'age': 20, 'education': 'college'},
     5: {'name': 'Lucas', 'age': 18, 'education': 'college'},
     },
     }, 
     'basketball': {
    'basketball_women': 
    {1: {'name': 'Ava', 'age': 15, 'education': 'highschool'},
     2: {'name': 'Evelyn', 'age': 18, 'education': 'college'},
     3: {'name': 'Hazel', 'age': 18, 'education': 'college'},
     4: {'name': 'Olivia', 'age': 18, 'education': 'college'},
     5: {'name': 'Bella', 'age': 18, 'education': 'college'},
     }, 
     'basketball_men': 
    {1: {'name': 'Logan', 'age': 15, 'education': 'highschool'},
     2: {'name': 'Jack', 'age': 18, 'education': 'college'},
     3: {'name': 'Joseph', 'age': 18, 'education': 'college'},
     4: {'name': 'Matthew', 'age': 18, 'education': 'college'},
     5: {'name': 'David', 'age': 18, 'education': 'college'},
     },
     }, 
     'swimming': {
    'swimming_women': 
    {1: {'name': 'Scarlett', 'age': 15, 'education': 'highschool'},
     2: {'name': 'Mia', 'age': 18, 'education': 'college'},
     3: {'name': 'Emma', 'age': 20, 'education': 'college'},
     4: {'name': 'Ellie', 'age': 19, 'education': 'college'},
     5: {'name': 'Anne', 'age': 18, 'education': 'college'},
     }, 
     'swimming_men': 
    {1: {'name': 'Robert', 'age': 15, 'education': 'highschool'},
     2: {'name': 'Carter', 'age': 18, 'education': 'college'},
     3: {'name': 'Joseph', 'age': 18, 'education': 'college'},
     4: {'name': 'Martin', 'age': 19, 'education': 'college'},
     5: {'name': 'Isaac', 'age': 18, 'education': 'college'},
     },
     },
     } 
    
print(abc_uni) 
print(abc_uni.keys())  

print(abc_uni['swimming']['swimming_men'][4]['name'])

{'futsal': {'futsal_women': {1: {'name': 'Emma', 'age': 15, 'education': 'highschool'}, 2: {'name': 'Olivia', 'age': 18, 'education': 'college'}, 3: {'name': 'Isabella', 'age': 20, 'education': 'college'}, 4: {'name': 'Mia', 'age': 18, 'education': 'college'}, 5: {'name': 'Sophia', 'age': 19, 'education': 'college'}}, 'futsal_men': {1: {'name': 'Robert', 'age': 15, 'education': 'highschool'}, 2: {'name': 'Martin', 'age': 18, 'education': 'college'}, 3: {'name': 'James', 'age': 22, 'education': 'college'}, 4: {'name': 'Liam', 'age': 20, 'education': 'college'}, 5: {'name': 'Lucas', 'age': 18, 'education': 'college'}}}, 'basketball': {'basketball_women': {1: {'name': 'Ava', 'age': 15, 'education': 'highschool'}, 2: {'name': 'Evelyn', 'age': 18, 'education': 'college'}, 3: {'name': 'Hazel', 'age': 18, 'education': 'college'}, 4: {'name': 'Olivia', 'age': 18, 'education': 'college'}, 5: {'name': 'Bella', 'age': 18, 'education': 'college'}}, 'basketball_men': {1: {'name': 'Logan', 'age': 15, 'education': 'highschool'}, 2: {'name': 'Jack', 'age': 18, 'education': 'college'}, 3: {'name': 'Joseph', 'age': 18, 'education': 'college'}, 4: {'name': 'Matthew', 'age': 18, 'education': 'college'}, 5: {'name': 'David', 'age': 18, 'education': 'college'}}}, 'swimming': {'swimming_women': {1: {'name': 'Scarlett', 'age': 15, 'education': 'highschool'}, 2: {'name': 'Mia', 'age': 18, 'education': 'college'}, 3: {'name': 'Emma', 'age': 20, 'education': 'college'}, 4: {'name': 'Ellie', 'age': 19, 'education': 'college'}, 5: {'name': 'Anne', 'age': 18, 'education': 'college'}}, 'swimming_men': {1: {'name': 'Robert', 'age': 15, 'education': 'highschool'}, 2: {'name': 'Carter', 'age': 18, 'education': 'college'}, 3: {'name': 'Joseph', 'age': 18, 'education': 'college'}, 4: {'name': 'Martin', 'age': 19, 'education': 'college'}, 5: {'name': 'Isaac', 'age': 18, 'education': 'college'}}}}
dict_keys(['futsal', 'basketball', 'swimming'])
Martin

In [ ]:
customer = {
    'name': 'John Smith',
    'age': 30,
    'is_verifed': True
}
customer['name'] = 'Jack Smith'  # update a value
customer['birthdate'] = 'Jan 1 1980'  # add new key&value
print(customer['birthdate'])

Jan 1 1980

In [47]:
phone = input('Phone: ')
digits_mapping = {
    '1' : 'One',
    '2' : 'Two',
    '3' : 'Three',
    '4' : 'Four', 
    '5' : 'Five',
    '6' : 'Six', 
    '7' : 'Seven',
    '8' : 'Eight',
    '9' : 'Nine',
    '0' : 'Zero'
}
output = ''
for i in phone:
    output += digits_mapping.get(i, '!') + ' '
print(output)

Phone: 5195032095
Five One Nine Five Zero Three Two Zero Nine Five

In [ ]:
message = input('>')
words = message.split(' ')

emojis = {
    ':)': 'ðŸ˜€',
    ':(': 'ðŸ˜”'
}
output = ''
for word in words:
  output += emojis.get(word, word) + ' '
print(output)

>I am happy :)
I am happy ðŸ˜€

In [14]:
my_dict = {'key1': 'value1',
           'key2': 'value2',
           'key3': 'value3'
            }
print(my_dict['key1'])

my_dict['key4'] = 'value3'

print(my_dict)
import pprint
pprint.pprint(my_dict, width=1)

print(my_dict.keys())

value1
{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value3'}
{'key1': 'value1',
 'key2': 'value2',
 'key3': 'value3',
 'key4': 'value3'}
dict_keys(['key1', 'key2', 'key3', 'key4'])

In [ ]:
print(state_capitals.items(), '\n')
print(state_capitals.keys(), '\n')
print(state_capitals.values(), '\n')
print('Nunavut' in state_capitals, '\n')
print('Michigan' not in state_capitals, '\n')
print('Ontario' not in state_capitals)

In [17]:
my_dict = {'key1': 'value1',
           'key2': 'value2',
           'key3': 'value3'
            }

print(my_dict.items())
print(my_dict.values())
print(my_dict.keys())

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])
dict_values(['value1', 'value2', 'value3'])
dict_keys(['key1', 'key2', 'key3'])

In [22]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14,\
                    is_good=True)
print(dict_by_dict, '\n')
print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [35]:
mixdictionary = dict(animal='dog', planet='neptun', number=40, pi=3.14,\
                    is_good=True)


mixdictionary['vegetable'] = 'spinach' # adding a new item
mixdictionary.update({'dairy': 'cheese'})

del mixdictionary['number']

print(mixdictionary)
print(mixdictionary['animal'])
print(mixdictionary['planet'])

{'animal': 'dog', 'planet': 'neptun', 'pi': 3.14, 'is_good': True, 'vegetable': 'spinach', 'dairy': 'cheese'}
dog
neptun

In [42]:
my_dict= {
    'animal': 'dog', 
    'planet': 'neptun', 
    'pi': 3.14, 
    'is_good': True,
    'vegetable': 'spinach',
    'dairy': 'cheese'
    }

print('animal' in my_dict)
print('number'not in my_dict, '\n')
print('cars'in my_dict, '\n')

print(my_dict['vegetable'])

True
True

False

spinach

In [45]:
json_data = {
     "firstName": "John",
     "lastName": "Smith",
     "address": {
         "streetAddress": "21 2nd Street",
         "city": "New York",
         "state": "NY",
         "postalCode": 10021
     },
     "phoneNumbers": [
         "212 555-1234",
         "646 555-4567"
     ]
 }
print(json_data)
print(json_data['firstName'])
print(json_data['phoneNumbers'])

{'firstName': 'John', 'lastName': 'Smith', 'address': {'streetAddress': '21 2nd Street', 'city': 'New York', 'state': 'NY', 'postalCode': 10021}, 'phoneNumbers': ['212 555-1234', '646 555-4567']}
John
['212 555-1234', '646 555-4567']

In [49]:
import json
person = '{"name": "Bob", "languages": ["English", "French"]}'
person_dict = json.loads(person)
print(person_dict)

{'name': 'Bob', 'languages': ['English', 'French']}

In [52]:
listem = ['elma', 'armut', 'portakal', 'orda kal']

print(sorted(listem))
print(sorted(listem, reverse=True))
print(listem)

['armut', 'elma', 'orda kal', 'portakal']
['portakal', 'orda kal', 'elma', 'armut']
['elma', 'armut', 'portakal', 'orda kal']

In [54]:
# Python program to demonstrate
# sorted()
  
  
# List 
x = ['q', 'w', 'r', 'e', 't', 'y'] 
print(sorted(x)) 
    
# Tuple 
x = ('q', 'w', 'e', 'r', 't', 'y') 
print(sorted(x))
  
# String-sorted based on ASCII translations 
x = "python"
print(sorted(x)) 
print(x)
    
# Dictionary 
x = {'q':1, 'w':2, 'e':3, 'r':4, 't':5, 'y':6} 
print(sorted(x)) 
    
# Set 
x = {'q', 'w', 'e', 'r', 't', 'y'} 
print(sorted(x))

['e', 'q', 'r', 't', 'w', 'y']
['e', 'q', 'r', 't', 'w', 'y']
['h', 'n', 'o', 'p', 't', 'y']
python
['e', 'q', 'r', 't', 'w', 'y']
['e', 'q', 'r', 't', 'w', 'y']

In [60]:
# Python program to demonstrate
# sorted()
  
  
mylist = ['aaaa', 'bbb', 'cc', 'd']
  
# sorted without key parameter
print(sorted(mylist))

  
# sorted with key parameter
print(sorted(mylist, key = len))

['aaaa', 'bbb', 'cc', 'd']
['d', 'cc', 'bbb', 'aaaa']

In [61]:
    
# List of Floating point numbers 
decimalnumber = [2.01, 2.00, 3.67, 3.28, 1.68] 
    
# Sorting list of Floating point numbers 
decimalnumber.sort() 

print(decimalnumber)

[1.68, 2.0, 2.01, 3.28, 3.67]

In [70]:
decimalnumber = [2.01, 2.00, 3.67, 3.28, 1.68] 

decimalnumber.sort(reverse = True)

print(decimalnumber)

[3.67, 3.28, 2.01, 2.0, 1.68]

In [80]:
sum(range(20))

190

In [81]:
sum(range(20), 10)

200

In [95]:
from collections import Counter
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]
c = (Counter(numbers))
c.most_common(1)
print(f'the most fruquent number is {c.most_common(1)[0][0]} and it was\
 {c.most_common(1)[0][1]} times repeated')

the most fruquent number is 3 and it was 4 times repeated