<a href="https://colab.research.google.com/github/fatihtepe/learn_python/blob/main/playingaround.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
string_1 = 'I quit smoking'
new_list = list(string_1)
print(new_list)

new_list2 = [string_1]
print(new_list2)

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
['string_1']

In [10]:
text = 'In God wee Trust'
text1 = ((text[:9]+text[10:]).title())
print(text1)
print('God' in text)
print('Trust'not in text)

In God We Trust
True
False

In [22]:
number = int(input('Please enter a number: '))

if number > 0:
    print(f'number {number} is positive')
elif number == 0:
    print(f'number is equal to {number}')
else:
    print(f'number {number} is negative')

Please enter a number: 5
number 5 is positive

In [24]:
numberlar = [1, 3, 4, 5, 7, -1, -20]
numberlar.sort()
print(numberlar)

[-20, -1, 1, 3, 4, 5, 7]

In [25]:
numberlar = [1, 3, 4, 5, 7, -1, -20]
print(numberlar[-2])

-1

In [27]:
numberlar = [1, 3, 4, 5, 7, -1, -20]
numberlar.reverse()
print(numberlar)

[-20, -1, 7, 5, 4, 3, 1]

In [36]:
numberlar = [1, 3, 4, 5, 7, -1, -20]
print(numberlar[1::2])

[3, 5, -1]

In [37]:
numberlar = [1, 3, 4, 5, 7, -1, -20]
numberlar.append(80)
print(numberlar)

[1, 3, 4, 5, 7, -1, -20, 80]

In [38]:
num = [1, 3, 4, 5, 7, -1, -20, 80]
num.clear()
print(num)

[]

In [39]:
num = [1, 3, 4, 5, 7, -1, -20, 80]
print(5 not in num)

False

In [40]:
num = [1, 3, 4, 5, 7, -1, -20, 80]
num.remove(5)
print(num)

[1, 3, 4, 7, -1, -20, 80]

In [41]:
num = [1, 3, 4, 5, 7, -1, -20, 80]
num.pop()
print(num)

[1, 3, 4, 5, 7, -1, -20]

In [42]:
num = [1, 3, 4, 5, 7, -1, -20, 80]
del num[5]
print(num)

[1, 3, 4, 5, 7, -20, 80]

In [43]:
num = [1, 3, 4, 5, 7, -1, -20, 80]
del num[3:6]
print(num)

[1, 3, 4, -20, 80]

In [46]:
setler = {1, 3, 4, 5, 7, -1, -20, 80}
setHarf = {'F', 'a', 't', 'i', 'h', ' ', 't', 'e', 'p', 'e'}
union = setler | setHarf
print(union)

print(setHarf)

{1, 3, 4, 5, 7, 'h', -20, 80, 't', 'i', 'F', 'a', ' ', 'p', 'e', -1}
{' ', 't', 'i', 'F', 'a', 'p', 'e', 'h'}

In [53]:
setler = {1, 3, 'e', 4, 5, 'f', 7, -1, -20, 80}
setHarf = {'F', 'a', 't', 'i', 'h', ' ', 't', 'e', 'p', 5, 'e'}
intersection = setler & setHarf
print(intersection)

{'e', 5}

In [55]:
setler = {1, 3, 'e', 4, 5, 'f', 7, -1, -20, 80}
setHarf = {'F', 'a', 't', 'i', 'h', ' ', 't', 'e', 'p', 5, 'e'}
difference = setler - setHarf
print(difference)
difference = setHarf - setler
print(difference)

{1, 3, 4, 7, -20, 80, 'f', -1}
{' ', 't', 'i', 'F', 'a', 'p', 'h'}

In [63]:
person = {
    'name': 'Fatih',
    'age': 45,
    'adress': 'Ontario'
}

print(person)
print(person['name'])
print(person['age'])
print(person['adress'])
print(person.keys())
print(person.values())
print(person.items())

for key in person:
    print(key)

{'name': 'Fatih', 'age': 45, 'adress': 'Ontario'}
Fatih
45
Ontario
dict_keys(['name', 'age', 'adress'])
dict_values(['Fatih', 45, 'Ontario'])
dict_items([('name', 'Fatih'), ('age', 45), ('adress', 'Ontario')])
name
age
adress

In [65]:
person = {
    'name': 'Fatih',
    'age': 45,
    'adress': 'Ontario'
}

for key in person:
    print(f'{key}: {person[key]}')

name: Fatih
age: 45
adress: Ontario

In [66]:
result = 0
numbers = list(range(1, 11))
for number in numbers:
    result += number
print(result)

55