<a href="https://colab.research.google.com/github/fatihtepe/python_ground/blob/main/Python_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Python program to demonstrate 
# Creation of List 
  
# Creating a List
List = []
print("Blank List: ")
print(List)

Blank List:
[]

In [ ]:
# Creating a List of numbers
List = [10, 20, 14]
print(List)

[10, 20, 14]

In [ ]:
# Creating a List of strings and accessing
# using index
List = ["Geeks", "For", "Geeks"]

print(List[0:2]) 
print(List[2])

['Geeks', 'For']
Geeks

In [ ]:
# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['Geeks', 'For'] , ['Geeks']]

print(List)
print(List[0][1][2])

[['Geeks', 'For'], ['Geeks']]
r

In [ ]:
# Creating a List with 
# the use of Numbers
# (Having duplicate values)
Liste = [1, 2, 4, 4, 3, 3, 3, 6, 5]

print(Liste)

[1, 2, 4, 4, 3, 3, 3, 6, 5]

In [ ]:
# Creating a List with 
# mixed type of values
# (Having numbers and strings)
liste = [1, 2, 'Geeks', 4, 'For', 6, 'Geeks']

print(liste)

print(liste[6][4])

[1, 2, 'Geeks', 4, 'For', 6, 'Geeks']
s

In [ ]:
# Creating a List
List1 = []
print(len(List1))
  
# Creating a List of numbers
List2 = [10, 20, 14]
print(len(List2))

0
3

In [ ]:
# Addition of elements in a List

listem = []
print(listem)

listem.append('ben')
listem.append('sen')
listem.append('biz')
listem.append('bu')
listem.append('su')
print(listem)

[]
['ben', 'sen', 'biz', 'bu', 'su']

In [ ]:
# Adding elements to the List
# using Iterator
tepe = ['ben', 'sen', 'biz', 'bu', 'su']
for i in range(1, 8):
    tepe.append(i)

print(tepe)

['ben', 'sen', 'biz', 'bu', 'su', 1, 2, 3, 4, 5, 6, 7]

In [ ]:
tepe = []

for x in range(1, 21):
    tepe.append(x)
print(tepe)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [54]:
tepe = list(range(1, 21))
print(tepe)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [68]:
tepe = []

for i in range(1, 11):
    tepe.append(i)
print(tepe)

tepe.append(('elma', 'armut'))
tepe.append(['kiraz','pamuk'])
print(tepe)

new_list = [tepe]
print(new_list)

print(new_list[0][11][0])
print(new_list[0][10][1][1:4])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, ('elma', 'armut'), ['kiraz', 'pamuk']]
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, ('elma', 'armut'), ['kiraz', 'pamuk']]]
kiraz
rmu

In [74]:
# Python program to demonstrate 
# Addition of elements in a List

listeler = list(range(1, 5))
print(listeler)

listeler = [1, 2, 3, 4]

listeler.insert(2, 5)
print(listeler)

[1, 2, 3, 4]
[1, 2, 5, 3, 4]

In [78]:
# Addition of multiple elements
# to the List at the end
# (using Extend Method)
listeler.extend([8, 'Geeks', 'Always'])
listeler.append(['armut', 'elma'])
print(listeler)

[1, 2, 5, 3, 4, 8, 'Geeks', 'Always', 8, 'Geeks', 'Always', ['armut', 'elma'], 8, 'Geeks', 'Always', 8, 'Geeks', 'Always', ['armut', 'elma']]

In [92]:
blistem = []
blistem.append(['fatih', 'can'])
blistem.extend(['ebru', 'numan', 'tarik'])
print(blistem)

[['fatih', 'can'], 'ebru', 'numan', 'tarik']

A Quick Fact!

the difference between extend () ve append () methods

listem = ['elma', 'armut']

listem.append(['portakal', 'muz']
['elma', 'armut', ['portakal', 'muz']]


listem.extend(['portakal', 'muz']
['elma', 'armut', 'portakal', 'muz']

In [93]:
listem = ['elma', 'armut']
listem.extend(['portakal', 'muz'])
listem.append(['portakal', 'muz'])
print(listem)

['elma', 'armut', 'portakal', 'muz', ['portakal', 'muz']]

In [97]:
meyveler = ['elma', 'armut', 'portakal', 'muz', ['portakal', 'muz']]
print(meyveler[3])
print(meyveler[4][1])
print(meyveler[-1])
print(meyveler[-3][3])

muz
muz
['portakal', 'muz']
t

In [109]:
# Python program to demonstrate 
# Removal of elements in a List
  
# Creating a List
sayilar = [1, 2, 3, 4, 5, 6, 
        7, 8, 9, 10, 11, 12]

print(sayilar)

sayilar.remove(5)
sayilar.remove(8)
print(sayilar)

for i in range(1, 5):
    sayilar.remove(i)
print(sayilar)

for i in range(3, 15):
    sayilar.append(i)
print(sayilar)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 6, 7, 9, 10, 11, 12]
[6, 7, 9, 10, 11, 12]
[6, 7, 9, 10, 11, 12, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [113]:
meyveler = ['elma', 'armut', 'portakal', 'muz', ['portakal', 'muz']]
meyveler.pop()
print(meyveler)

meyveler.pop(1)
print(meyveler)

['elma', 'armut', 'portakal', 'muz']
['elma', 'portakal', 'muz']

In [132]:
training = list('clarusway')
print(training)

training =['c', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']
print(training[3:9])
print(len(training))
print(training[-3:])
print(training[-8:4])
print(training[:-3])
print(training.count('a'))

['c', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']
['r', 'u', 's', 'w', 'a', 'y']
9
['w', 'a', 'y']
['l', 'a', 'r']
['c', 'l', 'a', 'r', 'u', 's']
2
None

In [149]:
yey = [6, 7, 9, 10, 11, 12, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

yey.sort()
print(yey)

yey.reverse()
print(yey)

print(yey.copy())

total = sum(yey, 150)
print(total)

[3, 4, 5, 6, 6, 7, 7, 8, 9, 9, 10, 10, 11, 11, 12, 12, 13, 14]
[14, 13, 12, 12, 11, 11, 10, 10, 9, 9, 8, 7, 7, 6, 6, 5, 4, 3]
[14, 13, 12, 12, 11, 11, 10, 10, 9, 9, 8, 7, 7, 6, 6, 5, 4, 3]
307