<a href="https://colab.research.google.com/github/fatihtepe/python_ground/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# TUPLES

In [ ]:
my_list = [1, 4, 2, 4, 5, 7, 3,]

my_tuple = tuple(my_list)

print(my_tuple)

(1, 4, 2, 4, 5, 7, 3)

In [ ]:
mountain = tuple('Alps',)
print(mountain)

('A', 'l', 'p', 's')

In [ ]:
planets = 'mercury', 'jupiter', 'saturn'

print(planets)

('mercury', 'jupiter', 'saturn')

In [ ]:
planets = 'mercury', 'jupiter', 'saturn'
list_of_planets = list(planets)
print(list_of_planets)

['mercury', 'jupiter', 'saturn']

In [ ]:
list_of_planets = ['mercury', 'jupiter', 'saturn', 'mercury', 'saturn', 'mars']

my_tuple_planets = tuple(list_of_planets)
print(my_tuple_planets)

count = my_tuple_planets.count('mercury')
print(count)

('mercury', 'jupiter', 'saturn', 'mercury', 'saturn', 'mars')
2

In [ ]:
mix_value_tuple = (0, 'bird', 3.14, True)

print(len(mix_value_tuple))

4

In [ ]:
even_no = (0, 2, 4)
print(even_no[0])    
print(even_no[1])    
print(even_no[2])

0
2
4

And one of the most important differences of tuples from lists is that 'tuple' object does not support item assignment. Yes, because tuple is immutable.

In [ ]:
abc = ('a', 'e', 'i', 'o', 'g', 'l', 'i', 'u', 'f', 'e', 'c', 'm')

index = abc.index('o') 
print(index)


index = abc.index('i', 4)
print(index)

index = abc.index('f', 3, 5) 
print(index)

3
6

ValueError: ignored

In [ ]:
nums = [1, ['51','41'], 2, 3, ['16', '17'], 4]

nums[1].remove('41')
print(nums)

[1, ['51'], 2, 3, ['16', '17'], 4]

In [3]:
mix_value = (10, False, 'fruit', 1.618)

print(len(mix_value))

4

In [2]:
coordinates = (1,2, 3)  # unpacking
x, y, z = coordinates
print(x)

1