<a href="https://colab.research.google.com/github/fatihtepe/python_ground/blob/main/Tuplesinclass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys
x = [1, 2, 3]
y = (1, 2, 3)

print(sys.getsizeof(x))
print(sys.getsizeof(y))

96
80

In [2]:
word = 'happy'
print(tuple(word))

('h', 'a', 'p', 'p', 'y')

In [3]:
benim =['a', 'b', 'c', 'd']
ben_tuple = tuple(benim)
print(ben_tuple)

('a', 'b', 'c', 'd')

In [4]:
tup = ('solar')
print(tup,type(tup), sep='\n')

solar
<class 'str'>

In [5]:
x = 1, 2, 3

type(x)

tuple

In [7]:
aa = 'a', 'b', 'c'
print(type(aa))

<class 'tuple'>

In [8]:
mountain = tuple('Alps')
print(mountain)

('A', 'l', 'p', 's')

In [16]:
mytuple = tuple(range(1, 11))
print(mytuple)
mytuple.count(1)
len(mytuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

10

In [18]:
mix_tuple =('11', 11, [2, 'two', ('six', 6)], 'fair')

str_six = mix_tuple[2][1:3]

print(str_six, type(str_six), sep='\n')

['two', ('six', 6)]
<class 'list'>

In [19]:
mix_tuple =('11', 11, [2, 'two', ('six', 6)], 'fair')

str_six = mix_tuple[1:3]

print(str_six, type(str_six), sep='\n')

(11, [2, 'two', ('six', 6)])
<class 'tuple'>

In [29]:
xtuple = ('A', 'l', 'p', 's')

xlist = list(xtuple)

print(xlist) 

xlist.append('elma')
print(xlist)

xtuple = tuple(xlist)
print(xtuple)

['A', 'l', 'p', 's']
['A', 'l', 'p', 's', 'elma']
('A', 'l', 'p', 's', 'elma')